#homescreen .forms {
    float:right;
}
#homescreen .bg {
    min-height: 500px;
    max-width: 1024px;
}
#homescreen .whiteness {
    background-color: rgba(255, 255, 255, 1);
    margin: 0;
    padding: 15px;
    border-radius: 3px;
}
#homescreen .reg {
    height:100%; 
    /*min-height: 300px;*/
}
#homescreen .login {
    margin: 0 0 5px 0;
}


/*Web Screen*/
@media (min-width: 767px) {

}
/*Mobile screen*/
@media (max-width: 767px) {
}
@media (max-width: 500px) {
    #homescreen .forms {
        float: none;
    }
}