html {
    -webkit-text-size-adjust: 100%;
    width: 100vw;
    height:100vh;
}
body {
    width: 100vw;
    height:100vh;
    margin: 0; padding: 0; 
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    color:#4b4b4b;
    
    background-color: #deeae6;
    background-position: top;
    background-repeat: repeat-x; 
    height:100vh;
} 

h1, h2, h3, h4 {
    font-weight: 200;
}

button,
a,
a:link,
a:hover,
a:active,
a:visited
 {
    color:#000;
    cursor: pointer;
}
.form-control{
    margin-top: 2px;
    background-color: #eff2f7;
    border-radius: 8px;
    border:none;
    font-weight: 200;
    font-size: 16px;
    font-family:  'Roboto', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* HELPER */
.hand-cursor {
     cursor: pointer;
 }

/* Loading screen */
#loadingScreen {
    position:fixed;
    z-index: 1100;
    width: 100%;
    height: 100%;
    min-height: 500px;
    background-color: rgba(255, 255, 255, 0.7);
    top:0;
}
#loadingScreen .splash-title {
    text-align: center;
    max-width: 500px;
    margin: 15% auto;
    padding: 20px;
}
#loadingScreen .splash-title h1 {
    font-size: 26px;
}

/*INPUT FILE*/
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label, 
.input-extra-btn,
.input-light
 {
    cursor: pointer;
    font-family: 'Play','Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: #2978ff;
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    border:none;
}
.input-light{
    background-color: white;
    border: 1px solid #e2e4e8;
    color:#758d9e;
}
.inputfile:focus + label,
.input-extra-btn:focus,
.input-extra-btn:hover,
.inputfile + label:hover {
    background-color: red;
}
.inputfile + label * {
    pointer-events: none;
}
    
.user-image {
    background-color: #fff; 
    background-size:cover;
    width: 40px;
    height: 40px;
    /*border-radius: 3px;*/
    border: 1px solid #1565c0; 
    /*box-shadow: 0 5px 10px rgba(0,0,0,0.2);*/
}


/* Aurelia ========== ========== ========== ========== ========== ========== ========== ========== ========== */
ai-dialog-overlay.active {
  background-color: white;
  opacity: .7;
}


